{{#each presets}}

<h4> id:{{id}} {{name}} </h4>
<button id={{id}} class="load"> Load </button>
<button id={{id}} class="update"> Save </button>
<button id={{id}} class="delete"> Delete </button>

{{/each}}
