{{#each presets}}

<h4> id:{{id}} {{name}} </h4>
<input class="update-input" type="text" placeholder="Rename Your Preset"><br>
<button id={{id}} class="update">  Update Name </button>
<button id={{id}} class="load"> Load {{name}} </button>

{{/each}}
